# Topic: Correlation between Economics and Real Estate
<ul>
<li>College: Mt San Antonio College</li>
<li>Course: CISD41 Introduction to Data Science</li>
<li>by: Alec Phong and Jack Chen</li>
<br><br>

## Overview
<ol>
<li>Questions</li>
<li>Importing Data</li>
<li>Functions and Lambda</li>
<li>Cleaning Data</li>
<li>Organizing Data</li>
<li>Data Visualization</li>
<li>Pivot tables</li>
<li>Descriptive Statistics</li>
<ul><li>Mean, median, standard deviation, precentiles, boxplots</li></ul>
<li>Quantitative Data Exploratory</li>
<ul><li>Correlation, Coefficients, P-values</li></ul>
<li>Testing Hypothesis, ANOVA</li>
<ul><li>Chisquare, ANOVA, Normal-test, Z-test, Pearson Correlation</li></ul>
<li>Summary and Conclusion</li>
<li>References</li>
</ol>


### Questions

Importing and Reading libraries and data

In [100]:
# Import modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import plotly.graph_objs as go 
from plotly.offline import init_notebook_mode,iplot

import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

init_notebook_mode(connected=True)

In [101]:
# Load data
df = pd.read_csv('data/data_house.csv')
spending_df = pd.read_csv('data/data_spending.csv')
gdp_df = pd.read_csv('data/data_gdp.csv')
population_df = pd.read_csv('data/data_population.csv')
income_df = pd.read_csv('data/income_spending.csv')

In [102]:
# Reading the data
df.info()
df.shape
df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85509 entries, 0 to 85508
Data columns (total 8 columns):
Price          85509 non-null object
Address        85509 non-null object
Bedrooms       64999 non-null object
Bathrooms      69439 non-null object
Size           73698 non-null object
Sale Status    69960 non-null object
URL            85509 non-null object
Raw Price      85509 non-null float64
dtypes: float64(1), object(7)
memory usage: 5.2+ MB

,Price,Address,Bedrooms,Bathrooms,Size,Sale Status,URL,Raw Price
85504,"$79,000,000","2 Park Pl, New York, NY 10007",NaN,1 ba,"9,680 sqft",Condo for sale,https://www.zillow.com/homedetails/2-Park-Pl-N...,79000000.00
85505,"$90,000,000","432 Park Ave #82, New York, NY 10022",6 bds,8 ba,"8,054 sqft",Condo for sale,https://www.zillow.com/homedetails/432-Park-Av...,90000000.00
85506,"$95,000,000","1441 Angelo Dr, Los Angeles, CA 90210",NaN,NaN,NaN,Lot / Land for sale,https://www.zillow.com/homedetails/1441-Angelo...,95000000.00
85507,"$99,000,000","908 Bel Air Rd, Los Angeles, CA 90077",9 bds,20 ba,"34,000 sqft",House for sale,https://www.zillow.com/homedetails/908-Bel-Air...,99000000.00
85508,"$110,000,000","30 Beverly Park Ter, Beverly Hills, CA 90210",8 bds,12 ba,-- sqft,House for sale,https://www.zillow.com/homedetails/30-Beverly-...,110000000.00

### Functions and Lambda

In [103]:
# drop NaN, Price, URL, and assign to df1
def metric_deletion(x):
    x.dropna(axis='rows',inplace=True)
    x = x[x.Bedrooms != '-- bds']
    x = x[x.Bathrooms != '-- ba']
    x = x[x.Size != '-- sqft']
    x.drop(['URL', 'Price'], axis=1,inplace=True)
    return x
df1 = metric_deletion(df)
df1.head()

,Address,Bedrooms,Bathrooms,Size,Sale Status,Raw Price
5,"3515 W Thompson Rd, Indianapolis, IN 46217",2 bds,1 ba,814 sqft,House for sale,1.00
53,"3713 Hillside Ave, Indianapolis, IN 46218",2 bds,1 ba,"1,728 sqft",House for sale,775.00
65,"1337 W Livingston St APT 1, Allentown, PA 18102",3 bds,1 ba,"1,000 sqft",House for sale,1050.00
70,"1788 Westwood Dr, Troy, MI 48083",3 bds,2 ba,"1,418 sqft",House for sale,1600.00
72,"390 Rosado Springs St, Henderson, NV 89014",2 bds,2 ba,"1,060 sqft",Townhouse for sale,1700.00

In [104]:
# Converting Bathrooms into float
df1.Bathrooms = df1.Bathrooms.str.replace(' ba','').astype('float')
# Converting Bedrooms into float
df1.Bedrooms = df1.Bedrooms.str.replace(' bds','').astype('float')

In [105]:
# Converting Size to float
def filt_size(s):
    s= s.replace(',','')
    s =s.replace(' sqft','')
    return float(s)
df1.Size = df1.Size.apply(filt_size)

In [106]:
# Spliting Address into Street, City, State, ZipCode, and drop the Address
df1.Address = df1.Address.astype('str')
df1['Street']= df1.Address.apply(lambda x: x.split(', ')[0])
df1['City']= df1.Address.apply(lambda x: x.split(', ')[1])
df1['State']= df1.Address.apply(lambda x: (x.split(', ')[-1]).split(' ')[0])
df1['ZipCode']= df1.Address.apply(lambda x: (x.split(', ')[-1]).split(' ')[1])
df2 = df1.drop(['Address'],axis=1)

### Cleaning Data

In [107]:
#reset the index
df2.reset_index(inplace=True,drop=True)

In [108]:
# Found two rows of abnormal values, so found exact address on google and replace with the right values
df2.loc[28709:28711, 'State']= 'AZ'
df2.loc[28709:28711, 'ZipCode']= '85260'

In [109]:
# Converting the columns as strings for further cleaning
df2[['Street','City','State','ZipCode']].astype('str')

                               Street              City State ZipCode
0                  3515 W Thompson Rd      Indianapolis    IN   46217
1                   3713 Hillside Ave      Indianapolis    IN   46218
2          1337 W Livingston St APT 1         Allentown    PA   18102
3                    1788 Westwood Dr              Troy    MI   48083
4               390 Rosado Springs St         Henderson    NV   89014
5                    11209 Grenada Dr  Sterling Heights    MI   48312
6            65710 Adventure Ct #305A              Bend    OR   97701
7                     3970 Garland St           Detroit    MI   48214
8                     2127 Merrick St           Detroit    MI   48208
9                    14383 Hubbell St           Detroit    MI   48227
10                   3301 Columbus St           Detroit    MI   48206
11                 6834 Charlevoix St           Detroit    MI   48207
12                   14415 Hubbell St           Detroit    MI   48227
13                   3226 Columbus St           Detroit    MI   48206
14                   3236 Columbus St           Detroit    MI   48206
15                   14238 Hubbell St           Detroit    MI   48227
16                    14578 Lappin St           Detroit    MI   48205
17           65690 Adventure Ct #108L              Bend    OR   97701
18             23023 Nicklaus Dr #405              Bend    OR   97701
19            65690 Adventure Ct #105              Bend    OR   97701
20            65690 Adventure Ct #104              Bend    OR   97701
21            65710 Adventure Ct #304              Bend    OR   97701
22                3924 Lillibridge St           Detroit    MI   48214
23             23023 Nicklaus Dr #401              Bend    OR   97701
24                    1818 Trinity Dr            Toledo    OH   43606
25                   1030 Indiana Ave            Toledo    OH   43607
26                 109 Mcallister Ave          Syracuse    NY   13205
27                    112-14 Hatch St          Syracuse    NY   13205
28                   244 Garfield Ave          Syracuse    NY   13205
29                      1614 SW C Ave            Lawton    OK   73501
...                               ...               ...   ...     ...
45369              111 Murray St #PH2          New York    NY   10007
45370        555 W End Ave #PENTHOUSE          New York    NY   10024
45371           293 Lafayette St #PH1          New York    NY   10012
45372      157 W 57th St PENTHOUSE 87          New York    NY   10019
45373               1932 N Burling St           Chicago    IL   60614
45374              1 Franklin St #GPH            Boston    MA   02110
45375                  10350 Wyton Dr       Los Angeles    CA   90024
45376             277 Saint Pierre Rd       Los Angeles    CA   90077
45377             1426 Summitridge Dr     Beverly Hills    CA   90210
45378  15 Central Park W PENTHOUSE 41          New York    NY   10023
45379                 2 Oak Knoll Ter          Pasadena    CA   91106
45380                   11490 Orum Rd       Los Angeles    CA   90049
45381              220 Central Park S          New York    NY   10019
45382                     995 5th Ave          New York    NY   10028
45383                    1125 5th Ave          New York    NY   10128
45384                    70 W 45th St          New York    NY   10036
45385               545 S Mapleton Dr       Los Angeles    CA   90024
45386             1301 Collingwood Pl       Los Angeles    CA   90069
45387                     8 E 62nd St          New York    NY   10065
45388         15 Central Park W #PH43          New York    NY   10023
45389             1251 Tower Grove Dr     Beverly Hills    CA   90210
45390               10701 Bellagio Rd       Los Angeles    CA   90077
45391             1201 Tower Grove Dr     Beverly Hills    CA   90210
45392                    12 E 63rd St          New York    NY   10065
45393               133 S Mapleton Dr       Los Angeles    CA   90024
45394      111 W 57th St PENTHOUSE 72          New York    NY   10019
45395                  0 Del Valle Rd         Livermore    CA   94550
45396               1060 Brooklawn Dr       Los Angeles    CA   90077
45397                432 Park Ave #82          New York    NY   10022
45398                  908 Bel Air Rd       Los Angeles    CA   90077

[45399 rows x 4 columns]

In [110]:
# Finding the weird ZipCode, it is in Canada
df2.loc[df2.ZipCode == 'N9V']

,Bedrooms,Bathrooms,Size,Sale Status,Raw Price,Street,City,State,ZipCode
38379,4.00,4.00,2800.00,House for sale,865000.00,349 Benson Ct,Amherstburg,ON,N9V

In [111]:
# Dropping the row
df2.drop(df2.iloc[38379].name,inplace=True)

In [112]:
# Now the ZipCode can be converted to Integer
df2.ZipCode = df2.ZipCode.astype('int')

In [113]:
#convert Sale Status into house Types
house_status = list(df2['Sale Status'].unique())
house_type = ['House','Townhouse','Multifamily', 'Condo', 'Others', 'Apartment']
df2['Sale Status'] = df2['Sale Status'].map(dict(zip(house_status,house_type)))
df2.rename(columns={"Sale Status": "Type"}, inplace=True)

In [114]:
# Street Column might not be useful
df3 = df2.drop(['Street'], axis=1)

In [115]:
# Change Raw Price column name to Price, create perSqft column
df3.rename(columns={"Raw Price":"Price"}, inplace=True)
df3['perSqFt'] = df3.Price / df3.Size

In [116]:
# Due to previously dropping rows, reset index again

df3 = df3.reset_index(drop=True)
len(df3.State.unique())

48

In [117]:
# Assign Regions, also need to drop Wyoming and West Virgina since the dataset does not contain 
# listings for that certain State in the initial DataFrame 
west = ['CA', 'NV', 'AK', 'WA' , 'OR', 'ID', 'MT', 'UT', 'CO', 'AZ', 'NM', 'HI']
midwest = ['ND', 'WI','SD', 'NE', 'KS', 'MN', 'IA', 'MO', 'IL', 'IN', 'OH','MI']
north = ['PA', 'NY', 'NH', 'MA', 'CT', 'ME', 'DC', 'NJ', 'RI']
south = ['TX', 'OK', 'AR', 'LA', 'MS', 'AL', 'TN', 'KY', 'VA', 'MD', 'DE', 'NC', 'SC', 'GA', 'FL']
full_state_list = west + midwest + north + south

# Creating function to assign regions
def find_region(state):
    if state in west:
        state = 'West'
    elif state in north:
        state = 'North'
    elif state in south:
        state = 'South'
    elif state in midwest:
        state = 'MidWest'
    return state

# Create Region column
df3['Region'] = df3.State.apply(find_region)

In [118]:
#Display the list of full_state_list in order to compare with the DataFrame state column in order to sort missing , 
full_state_list.sort()
full_state_list
#Converted numpy.Array into a list in order to compare with the list above.
comparator = df3['State'].unique().tolist()
comparator.sort()
comparator
compare_dict = dict(zip(full_state_list,comparator))
compare_dict
# Check our list of states and dataframe states are in sync
# df3 is fully cleaned, now we are making a "state_df"

{'AK': 'AK',
 'AL': 'AL',
 'AR': 'AR',
 'AZ': 'AZ',
 'CA': 'CA',
 'CO': 'CO',
 'CT': 'CT',
 'DC': 'DC',
 'DE': 'DE',
 'FL': 'FL',
 'GA': 'GA',
 'HI': 'HI',
 'IA': 'IA',
 'ID': 'ID',
 'IL': 'IL',
 'IN': 'IN',
 'KS': 'KS',
 'KY': 'KY',
 'LA': 'LA',
 'MA': 'MA',
 'MD': 'MD',
 'ME': 'ME',
 'MI': 'MI',
 'MN': 'MN',
 'MO': 'MO',
 'MS': 'MS',
 'MT': 'MT',
 'NC': 'NC',
 'ND': 'ND',
 'NE': 'NE',
 'NH': 'NH',
 'NJ': 'NJ',
 'NM': 'NM',
 'NV': 'NV',
 'NY': 'NY',
 'OH': 'OH',
 'OK': 'OK',
 'OR': 'OR',
 'PA': 'PA',
 'RI': 'RI',
 'SC': 'SC',
 'SD': 'SD',
 'TN': 'TN',
 'TX': 'TX',
 'UT': 'UT',
 'VA': 'VA',
 'WA': 'WA',
 'WI': 'WI'}

In [119]:
# Read gdp_df
gdp_df.head()

   Unnamed: 0  GeoFips        GeoName        2020
0           0        0  United States 18384687.00
1           1     1000        Alabama   196906.10
2           2     2000         Alaska    50161.00
3           3     4000        Arizona   320550.60
4           4     5000       Arkansas   114943.50

In [120]:
# Checking the States in gdp_df
gdp_df.GeoName.unique()

array(['United States', 'Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'New England', 'Mideast',
       'Great Lakes', 'Plains', 'Southeast', 'Southwest',
       'Rocky Mountain', 'Far West'], dtype=object)

In [121]:
# Drop the non-used States/Regions, converting column names, reset column index
gdp_df = gdp_df[(gdp_df.GeoName != 'United States') & (gdp_df.GeoName != 'Southwest') & (gdp_df.GeoName != 'Southeast') & (gdp_df.GeoName != 'Plains') & (gdp_df.GeoName != 'Mideast') & (gdp_df.GeoName != 'Great Lakes') & (gdp_df.GeoName != 'Rocky Mountain') & (gdp_df.GeoName != 'Far West') & (gdp_df.GeoName != 'District of Columbia') & (gdp_df.GeoName != 'New England') & (gdp_df.GeoName != 'West Virginia') & (gdp_df.GeoName != 'Wyoming')]
gdp_df.rename(columns={'GeoName':'State','2020':'GDP'},inplace=True)
gdp_df = gdp_df[['State', 'GDP']]
gdp_df.reset_index(inplace=True,drop=True)
gdp_df

             State        GDP
0          Alabama  196906.10
1           Alaska   50161.00
2          Arizona  320550.60
3         Arkansas  114943.50
4       California 2663665.90
5         Colorado  346011.30
6      Connecticut  235888.60
7         Delaware   62056.20
8          Florida  944000.80
9          Georgia  536693.00
10          Hawaii   70625.20
11           Idaho   73655.40
12        Illinois  737643.60
13         Indiana  329863.30
14            Iowa  169420.30
15          Kansas  156770.10
16        Kentucky  185535.10
17       Louisiana  222296.80
18           Maine   58757.30
19        Maryland  353052.50
20   Massachusetts  498577.00
21        Michigan  445682.60
22       Minnesota  326635.60
23     Mississippi   99667.50
24        Missouri  282654.20
25         Montana   46158.10
26        Nebraska  117664.90
27          Nevada  145219.10
28   New Hampshire   75543.10
29      New Jersey  535794.90
30      New Mexico   92696.50
31        New York 1420141.00
32  North Carolina  499517.50
33    North Dakota   54581.10
34            Ohio  589897.70
35        Oklahoma  190893.80
36          Oregon  212849.70
37    Pennsylvania  683773.90
38    Rhode Island   51415.10
39  South Carolina  208480.50
40    South Dakota   46682.70
41       Tennessee  316325.30
42           Texas 1734321.10
43            Utah  171370.10
44         Vermont   28648.50
45        Virginia  473817.50
46      Washington  532861.90
47       Wisconsin  291715.80

In [122]:
# Read population_df
population_df.head()

,rank,State,Pop,Growth,Pop2018,Pop2010,growthSince2010,Percent,density
0,1,California,39613493,0.00,39461588,37319502,0.06,0.12,254.29
1,2,Texas,29730311,0.04,28628666,25241971,0.18,0.09,113.81
2,3,Florida,21944577,0.03,21244317,18845537,0.16,0.07,409.22
3,4,New York,19299981,-0.01,19530351,19399878,-0.01,0.06,409.54
4,5,Pennsylvania,12804123,0.00,12800922,12711160,0.01,0.04,286.17

In [123]:
# Checking states in population_df
population_df.State.unique()

array(['California', 'Texas', 'Florida', 'New York', 'Pennsylvania',
       'Illinois', 'Ohio', 'Georgia', 'North Carolina', 'Michigan',
       'New Jersey', 'Virginia', 'Washington', 'Arizona', 'Tennessee',
       'Massachusetts', 'Indiana', 'Missouri', 'Maryland', 'Colorado',
       'Wisconsin', 'Minnesota', 'South Carolina', 'Alabama', 'Louisiana',
       'Kentucky', 'Oregon', 'Oklahoma', 'Connecticut', 'Utah',
       'Puerto Rico', 'Nevada', 'Iowa', 'Arkansas', 'Mississippi',
       'Kansas', 'New Mexico', 'Nebraska', 'Idaho', 'West Virginia',
       'Hawaii', 'New Hampshire', 'Maine', 'Montana', 'Rhode Island',
       'Delaware', 'South Dakota', 'North Dakota', 'Alaska',
       'District of Columbia', 'Vermont', 'Wyoming'], dtype=object)

In [124]:
# Filter out some regions and states, Grabbing State and Pop columns, reset index
population_df = population_df[(population_df.State != 'Wyoming') & (population_df.State != 'West Virginia') & (population_df.State != 'District of Columbia') & (population_df.State != 'Puerto Rico')]
population_df = population_df[['State','Pop']]
population_df.reset_index(inplace=True,drop=True)
population_df

             State       Pop
0       California  39613493
1            Texas  29730311
2          Florida  21944577
3         New York  19299981
4     Pennsylvania  12804123
5         Illinois  12569321
6             Ohio  11714618
7          Georgia  10830007
8   North Carolina  10701022
9         Michigan   9992427
10      New Jersey   8874520
11        Virginia   8603985
12      Washington   7796941
13         Arizona   7520103
14       Tennessee   6944260
15   Massachusetts   6912239
16         Indiana   6805663
17        Missouri   6169038
18        Maryland   6065436
19        Colorado   5893634
20       Wisconsin   5852490
21       Minnesota   5706398
22  South Carolina   5277830
23         Alabama   4934193
24       Louisiana   4627002
25        Kentucky   4480713
26          Oregon   4289439
27        Oklahoma   3990443
28     Connecticut   3552821
29            Utah   3310774
30          Nevada   3185786
31            Iowa   3167974
32        Arkansas   3033946
33     Mississippi   2966407
34          Kansas   2917224
35      New Mexico   2105005
36        Nebraska   1951996
37           Idaho   1860123
38          Hawaii   1406430
39   New Hampshire   1372203
40           Maine   1354522
41         Montana   1085004
42    Rhode Island   1061509
43        Delaware    990334
44    South Dakota    896581
45    North Dakota    770026
46          Alaska    724357
47         Vermont    623251

In [125]:
income_df.head()

   GeoFips        GeoName        2020
0        0  United States 19607447.00
1     1000        Alabama   228748.80
2     2000       Alaska *    46430.30
3     4000        Arizona   368458.60
4     5000       Arkansas   143147.90

In [126]:
income_df = income_df[(income_df.GeoName != 'United States') & (income_df.GeoName != 'Southwest') & (income_df.GeoName != 'Southeast') & (income_df.GeoName != 'Plains') & (income_df.GeoName != 'Mideast') & (income_df.GeoName != 'Great Lakes') & (income_df.GeoName != 'Rocky Mountain') & (income_df.GeoName != 'Far West') & (income_df.GeoName != 'District of Columbia') & (income_df.GeoName != 'New England') & (income_df.GeoName != 'West Virginia') & (income_df.GeoName != 'Wyoming')]
income_df.rename(columns={'GeoName':'State','2020':'income'},inplace=True)
income_df = income_df[['State', 'income']]
income_df.reset_index(inplace=True,drop=True)
income_df

             State     income
0          Alabama  228748.80
1         Alaska *   46430.30
2          Arizona  368458.60
3         Arkansas  143147.90
4       California 2763312.00
5         Colorado  370392.10
6      Connecticut  279612.40
7         Delaware   55357.40
8          Florida 1209995.90
9          Georgia  554566.50
10        Hawaii *   82527.30
11           Idaho   89077.70
12        Illinois  792135.50
13         Indiana  350759.50
14            Iowa  169181.60
15          Kansas  163462.20
16        Kentucky  211947.60
17       Louisiana  236327.20
18           Maine   73192.80
19        Maryland  404520.70
20   Massachusetts  540855.30
21        Michigan  530808.60
22       Minnesota  350784.70
23     Mississippi  124988.20
24        Missouri  318019.10
25         Montana   57660.20
26        Nebraska  111545.00
27          Nevada  168587.30
28   New Hampshire   91673.10
29      New Jersey  652498.90
30      New Mexico   97603.50
31        New York 1440049.50
32  North Carolina  533269.30
33    North Dakota   47089.30
34            Ohio  627231.30
35        Oklahoma  198552.10
36          Oregon  238847.10
37    Pennsylvania  788725.20
38    Rhode Island   64299.90
39  South Carolina  250573.60
40    South Dakota   52920.70
41       Tennessee  351546.30
42           Texas 1618635.10
43            Utah  169656.30
44         Vermont   36894.20
45        Virginia  532256.20
46      Washington  516441.10
47       Wisconsin  324252.00

In [127]:
spending_df.head()

,Unnamed: 0,GeoFips,GeoName,LineCode,Description,2020
0,0,0,United States,1,Personal consumption expenditures,14047565.00
1,1,0,United States,2,Goods,4653822.00
2,2,0,United States,3,Durable goods,1616408.00
3,3,0,United States,4,Motor vehicles and parts,541265.00
4,4,0,United States,5,Furnishings and durable household equipment,390382.00

In [128]:
spending_df = spending_df[spending_df['Description'] == 'Personal consumption expenditures']
spending_df = spending_df[(spending_df.GeoName != 'United States') & (spending_df.GeoName != 'Southwest') & (spending_df.GeoName != 'Southeast') & (spending_df.GeoName != 'Plains') & (spending_df.GeoName != 'Mideast') & (spending_df.GeoName != 'Great Lakes') & (spending_df.GeoName != 'Rocky Mountain') & (spending_df.GeoName != 'Far West') & (spending_df.GeoName != 'District of Columbia') & (spending_df.GeoName != 'New England') & (spending_df.GeoName != 'West Virginia') & (spending_df.GeoName != 'Wyoming')]
spending_df.rename(columns={'GeoName':'State','2020':'spending'},inplace=True)
spending_df = spending_df[['State', 'spending']]
spending_df.reset_index(inplace=True,drop=True)
spending_df

             State   spending
0          Alabama  176479.80
1           Alaska   35635.70
2          Arizona  287090.10
3         Arkansas  104488.80
4       California 1835980.60
5         Colorado  270883.00
6      Connecticut  179405.90
7         Delaware   44834.50
8          Florida  947905.90
9          Georgia  408752.80
10          Hawaii   63427.50
11           Idaho   64780.60
12        Illinois  553611.60
13         Indiana  257343.10
14            Iowa  118904.60
15          Kansas  113185.30
16        Kentucky  163749.90
17       Louisiana  173521.00
18           Maine   61123.80
19        Maryland  268456.80
20   Massachusetts  358472.30
21        Michigan  411364.20
22       Minnesota  251204.70
23     Mississippi   95998.30
24        Missouri  246053.10
25         Montana   45719.50
26        Nebraska   79713.90
27          Nevada  123053.70
28   New Hampshire   70718.90
29      New Jersey  446078.40
30      New Mexico   74276.40
31        New York  961707.30
32  North Carolina  405953.50
33    North Dakota   33631.30
34            Ohio  466159.70
35        Oklahoma  137469.20
36          Oregon  178375.40
37    Pennsylvania  570772.00
38    Rhode Island   45397.10
39  South Carolina  195958.70
40    South Dakota   37337.80
41       Tennessee  258252.30
42           Texas 1164466.40
43            Utah  121445.40
44         Vermont   29544.80
45        Virginia  367302.70
46      Washington  354219.10
47       Wisconsin  238923.00

In [129]:
merged_df = gdp_df.merge(spending_df, how = 'inner', on = 'State')
merged_df = gdp_df.merge(population_df, how = 'inner', on = 'State')
merged_df = gdp_df.merge(income_df, how = 'inner', on = 'State')
merged_df

             State        GDP     income
0          Alabama  196906.10  228748.80
1          Arizona  320550.60  368458.60
2         Arkansas  114943.50  143147.90
3       California 2663665.90 2763312.00
4         Colorado  346011.30  370392.10
5      Connecticut  235888.60  279612.40
6         Delaware   62056.20   55357.40
7          Florida  944000.80 1209995.90
8          Georgia  536693.00  554566.50
9            Idaho   73655.40   89077.70
10        Illinois  737643.60  792135.50
11         Indiana  329863.30  350759.50
12            Iowa  169420.30  169181.60
13          Kansas  156770.10  163462.20
14        Kentucky  185535.10  211947.60
15       Louisiana  222296.80  236327.20
16           Maine   58757.30   73192.80
17        Maryland  353052.50  404520.70
18   Massachusetts  498577.00  540855.30
19        Michigan  445682.60  530808.60
20       Minnesota  326635.60  350784.70
21     Mississippi   99667.50  124988.20
22        Missouri  282654.20  318019.10
23         Montana   46158.10   57660.20
24        Nebraska  117664.90  111545.00
25          Nevada  145219.10  168587.30
26   New Hampshire   75543.10   91673.10
27      New Jersey  535794.90  652498.90
28      New Mexico   92696.50   97603.50
29        New York 1420141.00 1440049.50
30  North Carolina  499517.50  533269.30
31    North Dakota   54581.10   47089.30
32            Ohio  589897.70  627231.30
33        Oklahoma  190893.80  198552.10
34          Oregon  212849.70  238847.10
35    Pennsylvania  683773.90  788725.20
36    Rhode Island   51415.10   64299.90
37  South Carolina  208480.50  250573.60
38    South Dakota   46682.70   52920.70
39       Tennessee  316325.30  351546.30
40           Texas 1734321.10 1618635.10
41            Utah  171370.10  169656.30
42         Vermont   28648.50   36894.20
43        Virginia  473817.50  532256.20
44      Washington  532861.90  516441.10
45       Wisconsin  291715.80  324252.00

In [130]:
#created a function that finds states with not enough data to produce analysis
def little_data_states(tab):
    little_info_state = []
    for x in full_state_list:
        if len(tab[tab['State'] == x]) < 30:
            little_info_state.append(x)
    return little_info_state

states_exempted= little_data_states(df3)

In [131]:
#created a new dataframe that would filter out these states from the df3 dataframe
df4 = df3[~df3['State'].isin(states_exempted)]
df4.head()

,Bedrooms,Bathrooms,Size,Type,Price,City,State,ZipCode,perSqFt,Region
0,2.00,1.00,814.00,House,1.00,Indianapolis,IN,46217,0.00,MidWest
1,2.00,1.00,1728.00,House,775.00,Indianapolis,IN,46218,0.45,MidWest
2,3.00,1.00,1000.00,House,1050.00,Allentown,PA,18102,1.05,North
3,3.00,2.00,1418.00,House,1600.00,Troy,MI,48083,1.13,MidWest
4,2.00,2.00,1060.00,Townhouse,1700.00,Henderson,NV,89014,1.60,West

In [132]:
pd.set_option('display.float_format', '{:.2f}'.format)
pd.pivot_table(df4, values=['perSqFt'], index=['State'])

       perSqFt
State
AK      175.69
AL      136.81
AR      142.48
AZ      578.91
CA      498.29
CO      336.63
CT      212.42
DC      574.93
DE      147.46
FL      231.73
GA      154.64
IA       97.06
ID      269.87
IL      178.29
IN      112.11
KS      122.80
KY      197.18
LA      146.52
MA      610.23
MD      168.14
ME      477.70
MI      102.92
MN      226.40
MO      136.04
MS      101.42
MT      202.14
NC      248.81
ND      121.78
NE      152.47
NJ     1474.06
NM      165.55
NV      240.31
NY      528.16
OH      105.99
OK      149.21
OR      285.81
PA      199.40
RI      207.28
SC      213.95
SD      166.50
TN      247.32
TX      146.90
UT      214.55
VA      332.91
WA      279.37
WI      180.49

### Analyze Data

### Data Visualization

In [ ]:
'''
NOT WORKING CORRECTLY


data = dict(type = 'choropleth',colorscale='Portland',locations=df3['State'],locationmode='USA-states', z=df3['Price'],text=df3['Price'], colorbar={'title':'perSqFt'})
choromap = go.Figure(data = [data],layout = dict(geo = {'scope':'usa'}))

iplot(choromap,validate=False)
'''

In [ ]:
# for GeoPandas later use
# df2 = df2[df2['ZipCode'].between(10000,99999,inclusive='both')]

### Conclusion

In [ ]:
'''



'''

### References

In [ ]:
'''
References

Data of:    Housing Prices
https://www.kaggle.com/dataranch/zillow-1

Data of:    GDP,Income,Spending 
https://apps.bea.gov/iTable/iTable.cfm?reqid=70&step=1&isuri=1&acrdn=1#reqid=70&step=1&isuri=1&acrdn=1

Data of:    Population
https://worldpopulationreview.com/states


'''